In [2]:
import tensorflow as tf
from tensorflow.keras.models import load_model
import pickle
import pandas as pd
import numpy as np

In [3]:
#Load the trained model,scaler pickle,onehot
model=load_model('model.h5')

##load the encoder and scaler
with open('ohe.pkl','rb') as file:
    ohe=pickle.load(file)

with open('label_gender.pkl','rb') as file:
    label_gender=pickle.load(file)
    
with open('scaler.pkl','rb') as file:
    scaler=pickle.load(file)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [ ]:
##example input data
input_data={
    'CreditScore':600,
    'Geography':'France',
    'Gender':'Male',
    'Age':40,
    'Tenure':3,
    'Balance':60000,
    'NumOfProducts':2,
    'HasCrCard':1,
    'IsActiveMember':1,
    'EstimatedSalary':50000
}

In [9]:
##one hot encoded 'Geography'
geo_encoded=ohe.transform([[input_data['Geography']]]).toarray()
geo_encoded_df=pd.DataFrame(geo_encoded,columns=ohe.get_feature_names_out(['Geography']))

c:\Users\abys7\OneDrive\Desktop\ann\tfenv\Lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

In [10]:
geo_encoded_df

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [13]:
input_df=pd.DataFrame([input_data])

In [14]:
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,Male,40,3,60000,2,1,1,50000

In [19]:
input_df=pd.concat([input_df.drop('Geography',axis=1).reset_index(drop=True),geo_encoded_df],axis=1)

In [20]:
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain,Geography_France,Geography_Germany,Geography_Spain
0,600,Male,40,3,60000,2,1,1,50000,1.0,0.0,0.0,1.0,0.0,0.0

In [21]:
##encode categorical variables
input_df["Gender"]=label_gender.transform(input_df['Gender'])

In [26]:
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain,Geography_France,Geography_Germany,Geography_Spain
0,600,1,40,3,60000,2,1,1,50000,1.0,0.0,0.0,1.0,0.0,0.0

In [29]:
input_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CreditScore        1 non-null      int64
 1   Gender             1 non-null      int64
 2   Age                1 non-null      int64
 3   Tenure             1 non-null      int64
 4   Balance            1 non-null      int64
 5   NumOfProducts      1 non-null      int64
 6   HasCrCard          1 non-null      int64
 7   IsActiveMember     1 non-null      int64
 8   EstimatedSalary    1 non-null      int64
 9   Geography_France   1 non-null      float64
 10  Geography_Germany  1 non-null      float64
 11  Geography_Spain    1 non-null      float64
 12  Geography_France   1 non-null      float64
 13  Geography_Germany  1 non-null      float64
 14  Geography_Spain    1 non-null      float64
dtypes: float64(6), int64(9)
memory usage: 252.0 bytes

In [31]:
input_df['Balance']=input_df['Balance'].astype(float)
input_df['EstimatedSalary']=input_df['EstimatedSalary'].astype(float)

In [32]:
input_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CreditScore        1 non-null      int64
 1   Gender             1 non-null      int64
 2   Age                1 non-null      int64
 3   Tenure             1 non-null      int64
 4   Balance            1 non-null      float64
 5   NumOfProducts      1 non-null      int64
 6   HasCrCard          1 non-null      int64
 7   IsActiveMember     1 non-null      int64
 8   EstimatedSalary    1 non-null      float64
 9   Geography_France   1 non-null      float64
 10  Geography_Germany  1 non-null      float64
 11  Geography_Spain    1 non-null      float64
 12  Geography_France   1 non-null      float64
 13  Geography_Germany  1 non-null      float64
 14  Geography_Spain    1 non-null      float64
dtypes: float64(8), int64(7)
memory usage: 252.0 bytes

In [35]:
input_df.drop(['Geography_France','Geography_Germany','Geography_Spain'],axis=1,inplace=True)

In [36]:
input_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CreditScore      1 non-null      int64
 1   Gender           1 non-null      int64
 2   Age              1 non-null      int64
 3   Tenure           1 non-null      int64
 4   Balance          1 non-null      float64
 5   NumOfProducts    1 non-null      int64
 6   HasCrCard        1 non-null      int64
 7   IsActiveMember   1 non-null      int64
 8   EstimatedSalary  1 non-null      float64
dtypes: float64(2), int64(7)
memory usage: 204.0 bytes

In [38]:
input_df=pd.concat([input_df.reset_index(drop=True),geo_encoded_df],axis=1)

In [39]:
input_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CreditScore        1 non-null      int64
 1   Gender             1 non-null      int64
 2   Age                1 non-null      int64
 3   Tenure             1 non-null      int64
 4   Balance            1 non-null      float64
 5   NumOfProducts      1 non-null      int64
 6   HasCrCard          1 non-null      int64
 7   IsActiveMember     1 non-null      int64
 8   EstimatedSalary    1 non-null      float64
 9   Geography_France   1 non-null      float64
 10  Geography_Germany  1 non-null      float64
 11  Geography_Spain    1 non-null      float64
dtypes: float64(5), int64(7)
memory usage: 228.0 bytes

In [40]:
##scaling input data
input_scaled=scaler.transform(input_df)

In [41]:
input_scaled

array([[-0.53598516,  0.91324755,  0.10479359, -0.69539349, -0.25781119,
         0.80843615,  0.64920267,  0.97481699, -0.87683221,  1.00150113,
        -0.57946723, -0.57638802]])

In [42]:
##predict churn
prediction=model.predict(input_scaled)

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 73ms/step

In [43]:
prediction

array([[0.05682826]], dtype=float32)

In [44]:
prediction_proba=prediction[0][0]

In [45]:
prediction_proba

np.float32(0.056828264)

In [46]:
if prediction_proba>0.5:
    print("the customer is likely to churn")
else :
    print("the customer is not likely to churn")

the customer is not likely to churn